<h1>Editing User Activity</h1>

<%= render 'form', user_activity: @user_activity %>

<%= link_to 'Show', user_user_activity_path(params[:user_id],params[:id]) %> |
<%= link_to 'Back', user_user_activities_path(params[:user_id]) %>
