<p>
	<strong>identificador</strong>
	<%= @user_activity.activity.name %>
</p>
<p>
	<strong>usuario </strong>
	<%= @user_activity.user.name %>
</p>

<%= link_to 'Edit', edit_user_user_activity_path(params[:user_id],params[:id]) %> |
<%= link_to 'Back', user_user_activities_path(params[:user_id]) %>
