<h1>Editing Ubication</h1>

<%= render 'form', ubication: @ubication %>



<%= link_to 'Show', subsidiary_ubication_path(params[:subsidiary_id],params[:id]) %>|
<%= link_to 'Back', subsidiary_ubication_path %>
