<h1>Editing Reservation</h1>

<%= render 'form', reservation: @reservation %>



<%= link_to 'Show', subsidiary_ubication_reservation_path(params[:subsidiary_id],params[:ubication_id],@reservation) %>|
<%= link_to 'Back', subsidiary_ubication_reservations_path %>