
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="well"> 
			<h1>Editing Activity</h1>

			<%= render 'form', activity: @activity %>

			<%= link_to 'ver', @activity,class: 'btn btn-primary' %> 
			<%= link_to 'Volver', activities_path,class: 'btn btn-primary' %>
		</div>
	</div>
</div>